@import '../../common/styles/*'

/** Header **/
.header
  background-color cYellow
  color cBlue

.title
  vertical-align top
  display inline-block

//@media mqSmall
//  .title
//    display inline-block
