@import './common/styles/*'

.page
  min-height 100%
  background-color cWhite
  margin auto

.content
  width 100%
  padding 1em
  min-height 100%

@media mqLarge
  .page
    margin-left 20vw
    width 60vw
    border-left 1px solid cLightGray
    border-right 1px solid cLightGray